__pycache__
/env
*.ipynb
/data
/preds
/output
/viz
/train_output*
/checkpoints
/wandb
/ppd_sharpdepth/patchrefiner/checkpoints
/ppd_sharpdepth/patchrefiner/checkpoints
nohup.out
wget-log*
script/tinkering/
work_dir*
