[submodule "submodules/pixel-perfect-depth"]
	path = submodules/pixel-perfect-depth
	url = git@github.com:andrew-healey/pixel-perfect-depth.git
	branch = main
[submodule "submodules/SharpDepth"]
	path = submodules/SharpDepth
	url = git@github.com:andrew-healey/SharpDepth.git
	branch = main
[submodule "submodules/Depth-Anything"]
	path = submodules/Depth-Anything
	url = git@github.com:andrew-healey/Depth-Anything.git
	branch = main
[submodule "submodules/UniDepth"]
	path = submodules/UniDepth
	url = git@github.com:andrew-healey/UniDepth
	branch = main
[submodule "submodules/ARKitScenes"]
	path = submodules/ARKitScenes
	url = git@github.com:anthonyceponis/ARKitScenes.git
[submodule "submodules/PatchRefiner"]
	path = submodules/PatchRefiner
	url = git@github.com:OHo315/PatchRefiner
[submodule "submodules/MiDaS"]
	path = submodules/MiDaS
	url = https://github.com/andrew-healey/MiDaS
[submodule "submodules/ZoeDepth"]
	path = submodules/ZoeDepth
	url = https://github.com/andrew-healey/ZoeDepth
